# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Docs
/docs
/smarty5/templates_c/*
.DS_Store
/images
templates/.DS_Store
templates/.DS_Store
smarty5/.DS_Store
smarty5/.DS_Store
smarty5/.DS_Store
templates/.DS_Store
