# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Docs
/docs
smarty5/templates_c/7d26031a7d6f4e391af6a55916927f89f1a90236_0.file_plants.tpl.php
