RewriteEngine On 
RewriteBase /

ErrorDocument 404      /404.php

RewriteRule (.*)/page0/ /$1 [L]
RewriteRule (.*)/page1/ /$1 [L]

#RewriteCond %{HTTP:SSL} !=1 [NC]
#RewriteRule ^(.*) https://floren.com.ua/$1 [L,R=301]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*[^/])$ https://%{HTTP_HOST}/$1/ [L,R=301]

SetEnvIf Request_URI ^/planters/(lamela-old/|elho-old/|ceramic-old/|beton-old/|wood-planters-old/) require_auth=true
AuthUserFile /home/floren/floren.com.ua/n/.htpasswd
AuthName "Password Protected"
AuthType Basic

Order Deny,Allow
Deny from all
Satisfy any
Require valid-user
Allow from env=!require_auth


RewriteRule ^plants/?([^/].*)?$ komnatnie-rasteniya/$1 [L,R=301]


RewriteCond %{REQUEST_URI} !^/(del_img\.php|404\.php|exec/|stock/|report/|templates/|admin/|images/|bsk/|assets/|img/|files/|css/|.json|js/|robots\.txt|favicon_\.ico|index\.php|seoshield-client)(.*)
RewriteRule ^(.+)$ /index.php [NC]

DirectoryIndex index.php
<IfModule mod_headers.c>
Header always append X-Frame-Options SAMEORIGIN
</IfModule>