@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600;900&display=swap");

/* Font faces, typography rules, etc. */
/* ============================
   SCSS Utility Functions
   ============================ */
html,
body {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
}