/* ============================
   SCSS Utility Functions
   ============================ */
button.button,
a.button {
  transition: background-color 0.2s ease;
  -webkit-mask-size: cover;
  mask-size: cover;
  min-height: 48px;
  display: inline-flex;
  align-items: center;
  font-size: 1.125rem;
  border-radius: 8px;
  line-height: 1;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
button.button:disabled,
a.button:disabled {
  background-color: var(--color-gray-50);
  color: var(--color-black);
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
button.button--small,
a.button--small {
  min-height: 44px;
}
button.button--icon,
a.button--icon {
  aspect-ratio: 1;
  padding: 0;
  justify-content: center;
}
button.button--icon > *,
a.button--icon > * {
  width: 24px;
  height: 24px;
}
button.button--primary,
a.button--primary {
  background-color: var(--color-green-50);
  color: var(--color-white);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
button.button--primary:hover,
a.button--primary:hover {
  background-color: var(--color-green-hover);
}
button.button--secondary,
a.button--secondary {
  display: inline-flex;
  align-items: center;
  border-radius: 48px;
  margin-top: 2.25rem;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 600;
  background-color: var(--color-violet);
  color: var(--color-white);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 48px;
}
button.button--secondary:hover,
a.button--secondary:hover {
  background-color: var(--color-violet-hover);
}
button.button--outline,
a.button--outline {
  border: 1px solid var(--color-gray-40);
  background-color: var(--color-white);
}
button.button--outline:hover,
a.button--outline:hover {
  background-color: var(--color-button-hover);
}
button.button--arrow,
a.button--arrow {
  padding-right: 4.5rem;
  background-image: url("/img/icons/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 36px center;
  background-size: 20px 20px;
}
button.button--text,
a.button--text {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-green-100);
  padding: 0.25rem 0.75rem;
  transition: color 0.2s ease;
  min-height: auto;
}
button.button--text:hover,
a.button--text:hover {
  color: var(--color-green-50);
}
button.button--pill,
a.button--pill {
  border-radius: 48px;
}

a.underline {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-40);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}
a.underline:hover {
  text-decoration-color: transparent;
}

a.not-underline {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}
a.not-underline:hover {
  text-decoration-color: var(--color-gray-40);
}

.paper {
  background-color: var(--color-white);
  padding: 1.5rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.tooltip::part(body),
.dropdown::part(body) {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0px 8px 20px rgba(0, 38, 3, 0.16);
  pointer-events: all;
}
.tooltip::part(arrow),
.dropdown::part(arrow) {
  color: var(--color-white);
}
.tooltip > sl-button,
.dropdown > sl-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  padding: 2px 8px;
}
.tooltip > sl-button .icon,
.dropdown > sl-button .icon {
  margin-left: 0.5rem;
}
.tooltip > sl-button:hover,
.dropdown > sl-button:hover {
  background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
}
.tooltip[open] sl-button,
.dropdown[open] sl-button {
  background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
}
.tooltip.dropdown > sl-button,
.dropdown.dropdown > sl-button {
  cursor: pointer;
  font-size: 0.875rem;
}
.tooltip.dropdown > sl-button .icon,
.dropdown.dropdown > sl-button .icon {
  transition: transform 0.2s ease;
}
.tooltip.dropdown[open] > sl-button .icon,
.dropdown.dropdown[open] > sl-button .icon {
  transform: scale(-1);
}
.tooltip.dropdown > sl-menu,
.dropdown.dropdown > sl-menu {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 0.5rem;
  padding: 0;
  box-shadow: 0px 8px 20px rgba(0, 38, 3, 0.16);
  border: none;
  min-width: 180px;
}
.tooltip.dropdown > sl-menu > sl-menu-item[data-checked]::part(base),
.dropdown.dropdown > sl-menu > sl-menu-item[data-checked]::part(base) {
  background: url("/img/icons/icon-check.svg") no-repeat right 14px center/16px 16px;
}
.tooltip.dropdown > sl-menu > sl-menu-item:focus-visible::part(base),
.dropdown.dropdown > sl-menu > sl-menu-item:focus-visible::part(base) {
  background-color: transparent;
  color: inherit;
}
.tooltip.dropdown > sl-menu > sl-menu-item::part(base),
.dropdown.dropdown > sl-menu > sl-menu-item::part(base) {
  padding: 0.5rem 0.75rem;
}
.tooltip.dropdown > sl-menu > sl-menu-item::part(label),
.dropdown.dropdown > sl-menu > sl-menu-item::part(label) {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
}
.tooltip.dropdown > sl-menu > sl-menu-item::part(checked-icon),
.dropdown.dropdown > sl-menu > sl-menu-item::part(checked-icon) {
  display: none;
}
.tooltip.dropdown > sl-menu > sl-menu-item:hover,
.dropdown.dropdown > sl-menu > sl-menu-item:hover {
  background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  position: relative;
}
.icon-button:hover {
  background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
}

.badge {
  height: 1.125rem;
  display: block;
  position: absolute;
  top: -2px;
  left: 75%;
  border-radius: 0.5625rem;
  background-color: blueviolet;
  color: var(--color-white);
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 600;
  min-width: 1.125rem;
  padding: 0 0.0625rem 0 0.125rem;
  z-index: 1;
}
.badge.warning {
  background-color: var(--color-yellow);
}
.badge.success {
  background-color: var(--color-green-50);
}

sl-rating {
  --symbol-color: var(--color-gray-30);
  --symbol-color-active: var(--color-yellow);
}

.photo-viewer {
  position: fixed;
  inset: 0;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0.2s ease, z-index 0.2s ease;
}
.photo-viewer.active {
  visibility: visible;
  z-index: 1000;
  opacity: 1;
  pointer-events: all;
}
.photo-viewer__overlay {
  background-color: var(--color-black);
  opacity: 0.75;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.photo-viewer__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 8px;
  position: relative;
  z-index: 1;
}
.photo-viewer__main-swiper {
  flex-grow: 1;
  width: 100%;
}
.photo-viewer__main-swiper .swiper-slide {
  display: flex;
  justify-content: center;
}
.photo-viewer__main-swiper .swiper-slide > img {
  max-width: 70%;
  height: 100%;
  object-fit: contain;
}
.photo-viewer__thumbs-swiper.swiper {
  flex-shrink: 0;
  max-width: 100%;
  padding: 16px;
}
.photo-viewer__thumbs-swiper.swiper .swiper-slide {
  width: 64px;
  height: 64px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
  border: 2px solid transparent;
}
.photo-viewer__thumbs-swiper.swiper .swiper-slide.swiper-slide-thumb-active {
  box-shadow: 0 0 0 2px var(--color-green-50);
}
.photo-viewer__thumbs-swiper.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-viewer__pagination.swiper-pagination-fraction, .photo-viewer__pagination.swiper-pagination-custom, .photo-viewer__pagination.swiper-horizontal > .swiper-pagination-bullets, .photo-viewer__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  color: var(--color-white);
  left: 24px;
  top: 24px;
  bottom: auto;
}
.photo-viewer__close-button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--color-white);
  transition: background-color 0.2s ease;
}
.photo-viewer__close-button .icon {
  width: 24px;
  height: 24px;
}
.photo-viewer__close-button:hover {
  background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
}
.photo-viewer__button-next, .photo-viewer__button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  z-index: 10;
  cursor: pointer;
}
.photo-viewer__button-next .icon, .photo-viewer__button-prev .icon {
  width: 36px;
  height: 36px;
  color: var(--color-white);
}
.photo-viewer__button-next:hover, .photo-viewer__button-prev:hover {
  background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
}
.photo-viewer__button-next {
  right: 16px;
}
.photo-viewer__button-prev {
  left: 16px;
}

.hover-photo-viewer__main {
  width: 100%;
  aspect-ratio: 1.32;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.hover-photo-viewer__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover-photo-viewer__thumbs {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  margin: -0.5rem;
  margin-top: 0.75rem;
  max-width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.hover-photo-viewer__thumbs > li {
  width: 64px;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 2px solid transparent;
  transition: box-shadow 0.2s ease;
}
.hover-photo-viewer__thumbs > li.active {
  box-shadow: 0 0 2px 2px var(--color-green-50);
}
.hover-photo-viewer__thumbs > li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover-photo-viewer__thumbs_video {
  width: 60px;
  height: 60px;
  background-color: var(--color-gray-10);
  flex-direction: column;
  gap: 4px;
  font-size: 0.75rem;
  line-height: 1.3;
  color: var(--color-green-100);
}
.hover-photo-viewer__thumbs_video .icon {
  width: 32px;
  height: 32px;
  color: var(--color-black);
}

sl-input,
sl-textarea {
  --sl-input-border-radius-medium: 0.5rem;
  --sl-input-border-color: var(--color-gray-40);
  --sl-input-border-color-hover: var(--color-green-50);
  --sl-input-border-color-focus: var(--color-green-50);
  --sl-focus-ring-width: 0px;
}
sl-input::part(input),
sl-textarea::part(input) {
  font-family: "Geologica", sans-serif;
}
sl-input::part(input)::placeholder,
sl-textarea::part(input)::placeholder {
  font-size: 0.875rem;
}

sl-breadcrumb {
  margin-bottom: 1.5rem;
  display: block;
}
sl-breadcrumb sl-breadcrumb-item::part(label) {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--color-black);
}
sl-breadcrumb sl-breadcrumb-item::part(separator) {
  color: var(--color-gray-60);
  margin: 0 0.625rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-40);
  background-color: var(--color-white);
  border-radius: 0.5rem;
  padding: 0.125rem 1rem;
  transition: background-color 0.3s ease;
  min-height: 2.5rem;
}
.pagination__link.active {
  border-color: transparent;
  background-color: var(--color-button-hover);
  pointer-events: none;
}
.pagination__link.disabled {
  background-color: var(--color-gray-20);
  pointer-events: none;
  opacity: 0.5;
}
.pagination__link:hover {
  background-color: var(--color-button-hover);
}

sl-select {
  --sl-input-height-medium: 2.25rem;
  --sl-input-font-size-medium: 0.875rem;
  --sl-input-border-radius-medium: 0.375rem;
  --sl-input-spacing-medium: 0.75rem 0.5rem;
  --sl-input-color: var(--color-black);
  --sl-input-border-color: var(--color-gray-40);
}
sl-select::part(display-input) {
  font-family: "Geologica", sans-serif;
}
sl-select::part(display-input)::placeholder {
  color: var(--color-black);
}
sl-select::part(listbox) {
  border-radius: 0.5rem;
  box-shadow: 0px 8px 20px rgba(0, 38, 3, 0.16);
  border: none;
  background-color: var(--color-white);
  padding-top: 0;
  padding-bottom: 0;
}
sl-select::part(combobox) {
  box-shadow: none;
  border-color: var(--color-gray-40);
}
sl-select sl-option:hover::part(base) {
  background-color: var(--color-gray-10);
}
sl-select sl-option::part(base) {
  --sl-color-primary-600: var(--color-gray-10);
  color: var(--color-black);
  font-size: 0.875rem;
  font-family: "Geologica", sans-serif;
  position: relative;
  min-height: 40px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
sl-select sl-option::part(base)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  right: 0.5rem;
  height: 1px;
  background-color: var(--color-gray-30);
}

sl-tag::part(base) {
  border-radius: 26px;
  height: 26px;
  background-color: transparent;
  border-color: var(--color-gray-50);
  color: var(--color-black);
  font-size: 0.875rem;
  font-weight: 300;
}
sl-tag::part(remove-button) {
  color: var(--color-black);
}

sl-radio::part(control) {
  --toggle-size: 20px;
  border-color: var(--color-gray-50);
}
sl-radio::part(control--checked) {
  border-color: var(--color-gray-50);
  background-color: transparent;
  color: var(--color-green-50);
}
sl-radio::part(checked-icon) {
  transform: scale(1.296);
}
sl-radio[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

sl-tab-group {
  --track-width: 0;
}
sl-tab-group::part(tabs) {
  gap: 1.5rem;
}

sl-tab {
  --sl-color-neutral-600: var(--color-violet);
  --sl-color-primary-600: var(--color-black);
}
sl-tab:not([aria-selected=true])::part(base) {
  text-decoration: underline;
  text-decoration-color: var(--color-green-100);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}
sl-tab:not([aria-selected=true])::part(base):hover {
  color: var(--sl-color-neutral-600);
  text-decoration-color: transparent;
}
sl-tab::part(base) {
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
}

sl-tab-panel::part(base) {
  padding: 1.5rem 0 0 0;
}

.reviews-section {
  padding: 3rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 232px 1fr;
  gap: 2rem;
  box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
}
.reviews-section h2 {
  font-size: 1.75rem;
  font-weight: 600;
}
.reviews-section .reviews-section__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reviews-section .reviews-section__form_rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews-section .reviews-section__form > button {
  align-self: flex-start;
}

.reviews-section__comments {
  margin: 1.5rem 0;
}
.reviews-section__comments .comments__item {
  border-bottom: 1px solid var(--color-gray-30);
  padding: 1.5rem 0;
}
.reviews-section__comments .comments__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.reviews-section__comments .comments__item-date {
  font-size: 0.875rem;
  color: var(--color-gray-100);
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.reviews-section__comments .comments__item-grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 1.5rem;
}
.reviews-section__comments .comments__item-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.reviews-section__comments .comments__item-title b {
  font-weight: 600;
  display: block;
}
.reviews-section__comments .comments__item-title sl-rating {
  --symbol-size: 0.75rem;
}
.reviews-section__comments .comments__item-text {
  font-size: 0.875rem;
  font-weight: 300;
}