 <!-- Main content area -->
        <div class="catalog-page__content">

          <!-- Breadcrumbs -->
          <sl-breadcrumb>
            <sl-breadcrumb-item href="#">Озеленення і Фітодизайн</sl-breadcrumb-item>
            <sl-breadcrumb-item href="#">Кімнатні рослини</sl-breadcrumb-item>
          </sl-breadcrumb>

          <!-- Info показано скільки товарів -->
          <div class="catalog-page__content_showed">
          Показано <span>1 - 25</span> з <span>1230</span>
          </div>

          <!-- Заголовок і опис категорії -->
          <h1>Кімнатні рослини</h1>
          <div class="catalog-page__content_description">
          Правильно підібрати кімнатні рослини вам допоможе консультант студії фітодизайну «Флорен». Також ви завжди можете отримати консультацію та купити кімнатні рослини та квіти в горщиках з доставкою в нашому магазині за адресою м. Київ, пр. Берестейський (Перемоги) 70.
        </div>
        
        
        
        – Кнопка знижка на товаре
        – грн замість $
        – якщо в корзині – іконка
        – Знижка
        – CENTER SEO TEXT