 <!-- Main content area -->
        <div class="catalog-page__content">

          <!-- Breadcrumbs -->
          <sl-breadcrumb>
            <sl-breadcrumb-item href="#">Озеленення і Фітодизайн</sl-breadcrumb-item>
            <sl-breadcrumb-item href="#">Кімнатні рослини</sl-breadcrumb-item>
          </sl-breadcrumb>

          <!-- Info показано скільки товарів -->
          <div class="catalog-page__content_showed">
          Показано <span>1 - 25</span> з <span>1230</span>
          </div>

          <!-- Заголовок і опис категорії -->
          <h1>Кімнатні рослини</h1>
          <div class="catalog-page__content_description">
          Правильно підібрати кімнатні рослини вам допоможе консультант студії фітодизайну «Флорен». Також ви завжди можете отримати консультацію та купити кімнатні рослини та квіти в горщиках з доставкою в нашому магазині за адресою м. Київ, пр. Берестейський (Перемоги) 70.
        </div>
        
        
        <b>FOR SCOOTEROK</b>
        – main tempalte
          – Селектор Язіка сделать <a href>
        – catalog page
          – фільтри <sl-option value="option-1">Королівські (9)</sl-option> – зробити <a href>
          – Зачем нужен option-1, 2, 3 ?
          – Предусмотрен ли какой-нибудь active в селекте
          – нужен какой-то passive вид. Там где 0. Напр: Фикус + Мелколистный + Лировидный
          – Скидівание фильтра добавить тег <a href> Я сейчас засунул тег <a> однако крестик не активен
        – Product Page
          – Вибір розміру на сторінці товару це лінк на нову сторінку. Також мають бути показані (неклікабельні) неактивні розміри. (Під замовлення) 
          
          Next Pull of QST
        – Product Page
          – Декілька станів ціни 
          – порешать что-то с доп картинками https://floren33:8890/ua/product/559_fikus_ginseng/1384/
          – порешать что-то с главной картинкой (какой должен быть размер)
          – при увеличении картинки - она маленькая
          – когда заменил <label> на <a> – поломались стили см. скрин 1,2,3
          – Ціни у інших товарах 
          
        
       ========== 
        – Кнопка знижка на товаре
        – грн замість $
        – якщо в корзині – іконка
        – Знижка
        – CENTER SEO TEXT – Верстка тексту так щоб просто HTML вставляти
        – Крошки переробити
        – А как сейчас делаются картинки – превьюхи делаются s/m/b?
        
        – Ваще не понятно что с картинками на карточке товара происходит
        

        
        
        
        TODO NEXT
        – debug_print_var
        – переробити FROM_GOODS
        – "Показано 1 - 25 з 1230" щось з цим зробити
        – img path + img sizes + img webp - PRODUCT PAGE
        – Фильтры
        – goods.php – $smarty->assign("CONTENT_TPL",'category/metal_pots.tpl');
        – таки разобраться с первыми пустыми строками
        
        DONE