<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title></title>
{literal}
<style type="text/css">
<!--
body, td, div, p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a  {
	text-decoration: underline;
	color: #248252;
}
a:hover {
	color: #248252; text-decoration: none;
}

table{
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
table td, table th
{
	padding:2px;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
-->
</style>
{/literal}
</head>
<body bgcolor="#FFFFFF" text="#434342" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<br><br>
<h2 align="center">Нове замовлення</h4>

<table align="center" width="600" cellspacing="0" border="0">
	<tr>
		<th>Назва</th>
		<th>Характеристики</th>
		<th>Ціна товару</th>
		<th style="text-align:center">Кіл<br />ть</th>
		<th>Загалом</th>
	</tr>
{foreach item=B from=$BASKET}

	<tr bgcolor="{cycle values="#FFFFFF,#f0f8f2"}">
		<td><a href="https://floren.com.ua{$B.href}" target="_blank">{$B.name} {if isset($B.name_alter)}{$B.name_alter}{/if}</a></td>
		<td class="producer">

			{if $B.color}Колір: {$B.color_name_ru}, {$B.color}, <br/>{/if}
			{if $B.dia}Діаметр: {$B.dia}, <br/>{/if}
			{if $B.wdt}Ширина: {$B.wdt}, <br/>{/if}
			{if $B.depth}Глибина: {$B.depth}, <br/>{/if}
			{if $B.hgt}Висота: {$B.hgt}{/if}
			{if $B.measure_qt}{$B.mg_name_ru}: {$B.measure_qt} {$B.unit}{/if}
		
		</td>
		<td align="center" nowrap>{$B.price}</td>
		<td align="center">х{$B.cnt}</td>
		<td><b>{$B.sttl} грн</b></td>
	</tr>
{/foreach}

{if isset($POST.peresadka)}

	<tr>
		<td colspan="4" align="right"><b>Послуга пересадки:</b></td>
		<td><b>{$POST.peresadka}</b></td>
	</tr>

{/if}

	<tr>
		<td colspan="4" align="right"><b>Сума замовлення:</b></td>
		<td><b>{$POST.basket_totalprice}</b></td>
	</tr>
	<tr>
		<td colspan="4" align="right"><b>Сума доставки:</b></td>
		<td><b>{$POST.cost_delivery}</b></td>
	</tr>
	<tr>
		<td colspan="4" align="right"><b>До сплати:</b></td>
		<td><b>{$POST.to_pay}</b></td>
	</tr>
</table>

<p>&nbsp;</p>

<p align="center"><b>Контактні дані</b></p>

<table align="center" cellspacing="0" class="chuvak_details">
	<tr valign="top">
		<td width="150">Контактне лице:</td>
		<td>{$POST.fio}</td>
	</tr>
	<tr valign="top">
		<td>Телефон:</td>
		<td>{$POST.phone}</td>
	</tr>
	<tr valign="top">
		<td>Email:</td>
		<td>{$POST.email}</td>
	</tr>

	

</table>


<p align="center"><b>Дані отримувача</b></p>

<table align="center" cellspacing="0" class="chuvak_details">

	{if isset($POST.recipient) && $POST.recipient != ''}
		<tr valign="top">
			<td>Отримувач замовлення:</td>
			<td>Я отримувач</td>
		</tr>
	{else}
		<tr valign="top">
			<td>ПІБ отримувача</td>
			<td>{$POST.r_fio}</td>
		</tr>

		<tr valign="top">
			<td>Телефон отримувач</td>
			<td>{$POST.r_phone}</td>
		</tr>
	{/if}
	
</table>


<p align="center"><b>Спосіб доставки</b></p>

<table align="center" cellspacing="0" class="chuvak_details">

	{if $POST.delivery_way == "magazin"}

		<tr valign="top">
			<td>Спосіб доставки:</td>
			<td>Самовивіз</td>
		</tr>

		<tr valign="top">
			<td>Дата самовивізу:</td>
			<td>{$POST.picup_date}</td>
		</tr>

		<tr valign="top">
			<td>Час самовивізу:</td>
			<td>{$POST.picup_time}</td>
		</tr>

		<tr valign="top">
			<td>Адреса самовивізу:</td>
			{if $POST.picup_addr == "m1"}
				<td>пр. Победы, 70</td>
			{else}
				<td>ул. Анны Ахматовой, 30</td>
			{/if}
		</tr>

	{/if}

	{if $POST.delivery_way == "nova-poshta"}

		<tr valign="top">
			<td>Способ доставки:</td>
			<td>Нова Пошта</td>
		</tr>

		<tr valign="top">
			<td>Місто:</td>
			<td>{$POST.np_city}</td>
		</tr>

		<tr valign="top">
			<td>Номер відділення:</td>
			<td>{$POST.np_number}</td>
		</tr>
		
	{/if}

	{if $POST.delivery_way == "courier"}

		<tr valign="top">
			<td>Спосіб доставки:</td>
			<td>Курʼєр</td>
		</tr>

		<tr valign="top">
			<td>Місто:</td>
			<td>{$POST.courier_city}</td>
		</tr>

		{if $POST.courier_anonym}

		<tr valign="top">
			<td>Додаткова опція доставки:</td>
			<td>{$POST.courier_anonym}</td>
		</tr>

		{/if}


		{if !$POST.courier_date}

		<tr valign="top">
			<td>Дата доставки:</td>
			<td>не вказано</td>
		</tr>

		{else}

		<tr valign="top">
			<td>Дата доставки:</td>
			<td>{$POST.courier_date}</td>
		</tr>

		{/if}

		{if $POST.courier_time}
			<tr valign="top">
				<td>Час доставки:</td>
				<td>
					{if $POST.courier_time == 'late'}
						Пізня доставка (сплачується додатково)
					{elseif $POST.courier_time == 'early'}
						Рання доставка (сплачується додатково)
					{else}
						{$POST.courier_time}
					{/if}
					
				</td>
			</tr>
		{/if}

		{if $POST.courier_fast}
			<tr valign="top">
				<td>Тип доставки:</td>
				<td>{$POST.courier_fast}</td>
			</tr>
		{/if}

		{if $POST.courier_exact}

			<tr valign="top">
				<td>Тип доставки:</td>
				<td>{$POST.courier_exact}</td>
			</tr>

			<tr valign="top">
				<td>Час доставки: год</td>
				<td>{$POST.courier_hour}</td>
			</tr>

			<tr valign="top">
				<td>Час доставки: хв</td>
				<td>{$POST.courier_min}</td>
			</tr>

		{/if}

		<tr valign="top">
			<td>Адреса доставки:</td>
			<td>{$POST.courier_address}</td>
		</tr>

		<tr valign="top">
			<td>Номер дому:</td>
			<td>{$POST.courier_dom}</td>
		</tr>

		<tr valign="top">
			<td>Номер квартири:</td>
			<td>{$POST.courier_flat}</td>
		</tr>
		
		
		<tr valign="top">
			<td>Наявність ліфту:</td>
			<td>{if $POST.courier_elevator}{$POST.courier_elevator}{else} — {/if}</td>
		</tr>

	{/if}

	{if !$POST.delivery_way}
			<tr valign="top">
				<td>Тип доставки:</td>
				<td>не обрано</td>
			</tr>
	{/if}
</table>

<p align="center"><b>Спосіб оплати</b></p>

<table align="center" cellspacing="0" class="chuvak_details">
	<tr valign="top">
		<td>Тип оплати:</td>
		<td>{if $POST.payment_way == 'bank'}Картой на сайте VISA / Mastercard{elseif $POST.payment_way == 'beznal'}Безналичный расчет для юридических лиц{else}{$POST.payment_way}{/if}</td>
	</tr>
</table>

<p align="center"><b>Додатково</b></p>

<table align="center" cellspacing="0" class="chuvak_details">
		<tr valign="top">
			<td>Додаткова консультація:</td>
			<td>{if isset($POST.additional_consulting) && $POST.additional_consulting != ''}{$POST.additional_consulting}{else}не заповнено{/if}</td>
		</tr>

		<tr valign="top">
			<td>Коментар до замовлення:</td>
			<td>{if $POST.comment}{$POST.comment}{else}не заповнено{/if}</td>
		</tr>
</table>



<hr>
Звідки прийшов: {$HTTP_REFERER}
<hr>

IP: <a href="http://www.db.ripe.net/whois?form_type=simple&full_query_string=&searchtext={$SERVER.REMOTE_ADDR}&submit.x=10&submit.y=8&submit=Search">{$SERVER.REMOTE_ADDR}</a><br>
{if $IP2}IP2: <a href="http://www.db.ripe.net/whois?form_type=simple&full_query_string=&searchtext={$IP2}&submit.x=10&submit.y=8&submit=Search">{$IP2}</a>{/if}

<br><hr>


</body>
</html>